.popup(id="bookNow")
    .popup-content
        .front
            a(href="#header" class="popup-close") &times;
            .booking-form
                form.form(action="#")
                    h3.heading-tertiary.utility-margin-bottom-Small Booking
                    .form-group
                        input(type="email" class="form-input" id="email" placeholder="Email Address" required)
                        label(for="Email" class="form-label") Enter your email.
                    .form-group
                        input(type="password" class="form-input" id="name" placeholder="Password" required)
                        label(for="Password" class="form-label") Enter your password.

                    .form-group
                        button.form-button Log in
                        a.form-button.form-anchor(href="#") Register