section.details
    .details__content
        h2 ABOUT CINEMA
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet reiciendis, quasi, qui nobis dignissimos fuga id reprehenderit doloremque sunt eos dolore dolores sapiente ipsum doloribus nesciunt quam quod, sint fugit? 
    .details__imgs
        img.details__img.details__img--1(src="/img/detail1.jpg" alt="detail image")
        img.details__img.details__img--2(src="/img/detail2.jpg" alt="detail image")
        img.details__img.details__img--3(src="/img/detail3.jpg" alt="detail image")