footer.footer
    a.footer__title(href='/')= title
    .footer__menu
        h2.footer__menu__title MENU
        a.footer__menu__item(href="#") Movies
        a.footer__menu__item(href="#") Halls
        a.footer__menu__item(href="#") Details
        a.footer__menu__item(href="#") Map 
    .footer__details
        .footer__details-text 
            p Details 
            p Phone: 210 1212122
            p Address: Somewhere 2, Athens
            p Postal: 52489
        .footer__copyright
            p Copyright Spathas C.® 2021
    .footer__working-time
        h2.working-time__title Working Time
        .working-time__days 
            p Monday 
            p Thursday
            p Wednesday
            p Thursday
            p Friday
            p Saturday
            p Sunday
        .working-time__hours 
            p Close
            p 17:00 - 24:00
            p 17:00 - 24:00
            p 17:00 - 24:00
            p 17:00 - 2:00
            p 17:00 - 2:00
            p 17:00 - 24:00