.main-menu 
    a.main-menu__item(href='#movies') Movies
    a.main-menu__item(href="#details") Details
    a.main-menu__item(href="#map") Map 
    a.auth-btn.main-menu__item(href="/login") Login/Register