.main-menu 
    a.main-menu__item(href='#') Movies
    a.main-menu__item(href="#") Halls
    a.main-menu__item(href="#") Details
    a.main-menu__item(href="#login") Map 
    a.auth-btn.main-menu__item(href="#register") Login/Register