section.movies-boxes(id='movies')
    each movie in movies
        .movie-box
            img.movie-box__image(src=`/img/${movie.name}.png` alt= movie.name)
            a.movie-box__btn(href=`/movie/${movie.id}`) BOOK NOW