doctype  html 
html 
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon', type='image/png' href='img/favicon.png')
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap" rel="stylesheet")
        title Athens Cinemas 

    body 
        header.header
            .header__banner
                h1 Athens Cinemas
                img.header__banner--img(src='img/bannerPic.jpg' alt='Athens Cinemas')
