:root {
  --color-primary: brown;
  --white: #ffffff;
}

/* GLOBAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* font-size: 100%; */
}

body {
  font-family: 'Comic Neue', cursive;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  width: 90%;
  margin: 2rem 5%;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

/* SEPERATOR */
.seperator {
  height: 3px;
  padding: 3rem;
}

.seperator__bar {
  height: 3px;
  background-color: var(--color-primary);
}

/* HEADER */
.header {
  position: relative;
  width: 100%;
  height: 20vh;

  overflow: hidden;
  background-image: url('../img/bannerPic.jpg');
}

.header__title {
  position: absolute;
  top: 0;
  left: 0;

  color: var(--color-primary);
  font-weight: 700 bold;
  font-size: 10rem;
}

/* MAIN MENU */
.main-menu {
  height: 30vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;

  height: 8vh;
  padding: 2rem;
}

.main-menu__item {
  flex-basis: 15%;

  color: var(--color-primary);
  font-size: 5rem;
}

.auth-btn {
  color: var(--color-primary);
  font-size: 5rem;
}

/* MOVIE CARDS */
.movies-boxes {
  height: 70vh;
  display: flex;
  justify-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;

  width: 90%;
  margin: 2rem 5%;
}

.movie-box {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.movie-box__image {
  width: 100%;
  object-fit: cover;
}

.movie-box__btn {
  height: 5rem;

  text-align: center;
  font-size: 3rem;

  text-decoration: none;
  color: white;
  background-color: var(--color-primary);
}

/* ABOUT CINEMA */
.details {
  display: flex;

  width: 90%;
  margin: 2rem 5%;
}

.details {
  width: 90%;
  height: 45vh;
  margin: 2rem 5%;
}

.details__content {
  width: 50%;
}

.details__imgs {
  position: relative;
  width: 50%;
  margin-left: 10%;
}

.details__imgs:hover .about-image:not(:hover) {
  transform: scale(0.85);
}

.details__img {
  position: absolute;
  width: 40rem;

  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
  transition: all 0.2s;
  z-index: 10;
}

.details__img--1 {
  left: -2vw;
  top: 0vh;
  transform: translate(-50% -50%);
}

.details__img--2 {
  left: 13vw;
  top: 7vh;
  transform: translate(-50% -50%);
}

.details__img--3 {
  left: 3vw;
  top: 16vh;
  transform: translate(-50% -50%);
}

.details__img:hover {
  border: 1.2rem solid transparent;
  outline: 1.2rem solid var(--color-primary);
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(black, 0.5s);
  z-index: 20;
}

/* MAP SECTION */
.map {
  /* Overwrite section style */
  width: 100%;
  margin: 0;

  height: 40vh;
  background-color: darkgray;
}

/* FOOTER */
.footer {
  height: 50vh;
  display: grid;
  grid-template-rows: 25% 1fr;
  grid-template-columns: 20% 40% 40%;

  background-color: var(--color-primary);
  color: white;
}

.footer__title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;

  font-size: 5rem;
  font-weight: 500;
  text-decoration: none;
  color: white;

  text-decoration: underline;
  text-align: center;
}

.footer__menu {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: flex;
  flex-flow: column wrap;
  align-content: center;
  text-align: center;
}

.footer__menu__title {
  margin-bottom: 1rem;
  text-decoration: underline;
}

.footer__menu__item {
  font-size: 3rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.footer__details {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__media-btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space;
}

.footer__details-text > p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.footer__copyright p {
  margin-top: 20%;
  font-weight: bold;
  text-align: center;
}

.footer__working-time {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 1fr;
}

.working-time__title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  text-decoration: underline;
  text-align: center;
}

.working-time__days {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  text-align: center;
}

.working-time__hours {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  text-align: center;
}

/* LOGIN FORM */
.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-primary);
}
.heading-secondary--error {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff7730),
    to(#eb4d4b)
  );
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  font-size: 3.5rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

/* MOVIE PAGE */

/* HEADER */
.header-movie {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);

  padding: 0.5rem 2rem;
}

.header-movie h1 {
  color: white;
}

.header-movie__btn {
  align-self: center;
  width: 15rem;
  height: 5rem;
  background-color: white;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
}

.header-movie__btn:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  outline: none;
}

/* HEADER */
.movie-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(10, min-content);
  grid-gap: 1rem;
}

.movie-details__img {
  grid-area: 1 / 1 / 8 / 2;
}

.movie-details__h2 {
  color: var(--color-primary);
}

.movie-details__btn {
  text-align: center;
  color: white;
  font-size: 2rem;
  width: 15rem;
  height: 4rem;
  background-color: var(--color-primary);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
}

.movie-details__btn:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  outline: none;
}

.movie-details__direcrots-title {
  grid-area: 8 / 2 / 9 / -1;
}

.movie-details__directors-writers {
  line-height: 2;
  grid-area: 9 / 2 / 10 / -1;
}

.movie-details__trailer {
  grid-area: 10 / 1 / -1 / -1;
}
